.shadow{
    background-image: url('https://picsum.photos/200');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 250px;
}
.box{   

  position: absolute;
  bottom: 0px;
  opacity: 0.4;
  color: black;
  width: 91%;
  background-color: white;
}

span:hover{
  background-color: chartreuse;
}